* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #080808;
    color: #fff;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}


h1, h2 {
  margin: 0.5rem 0;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #eee;
}

.manage {
  padding: 10px 10%;
  margin: 3rem 0;
}

.task-image {
  margin-top: 30px;
}

.overview{
  padding: 10px 10%;
  margin: 3rem 0;
}

.create-task {
  margin: 3rem 0; 
}

.earnings {
  padding: 10px 10%;
  margin: 3rem 0;
}

.incentive {
  margin: 3rem 0; 
}

.other-screens {
  margin: 3rem 0;
}

footer nav {
  margin-top: 0.5rem;
}

footer nav a {
  color: #ff004f;
  margin: 0 1rem;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: none;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}